*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-bar{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 50px;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  }
  
  /* Add some padding inside the card container */
.container {
    width: calc(33.33% - 10px); /* Adjust the width as needed */
  }

.cardImage{
    width: 40%;
    border-radius: 5px 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px 5px white;
  }

.card-title{
    font-weight: 600;
    padding: 10px 0px;
    font-size: large;
    color: gold;
  }

.card-text{
    font-size: medium;
    padding-bottom: 5px;
  }

.text-muted{
    font-size: smaller;
    margin-bottom: 25px;
}

.input-field{
    padding: 10px;
    margin-right: 5px;
    border: 2px solid gold;
    border-radius: 2.5px;
}

.submit-button{
    padding: 10px 20px;
    background-color: gold;
    color: black;
    font-weight: 700;
    border-radius: 2.5px;
    border: 2px solid gold;
}

.learn-more-button{
  text-decoration: none;
  color: gold;
  font-size: 14px;
  font-weight: 700;
}